@tailwind base;

@tailwind components;

body {
  font-family: 'Montserrat', sans-serif;
}

[class^='number-slide'],
[class*=' number-slide'] {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-wrapper {
  position: relative;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #000;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--label {
  position: absolute;
  top: 50%;
  transform: translateY(20px);
  -webkit-transform: translateY(20px);
}

.arrow--disabled {
  fill: rgba(0, 0, 0, 0.5);
}

@tailwind utilities;
